.success {
  display: block;
  color: green;
}

.error {
  display: block;
  color: red;
}

.sp-thongbao {
  color: red;
  margin-left: 2px;
  display: none;
}

#SapXepGiam {
  display: none;
}

#content {
  width: 100%;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.myCardHeader,
.myCardFooter {
  background-color: transparent;
}

.table {
  margin-bottom: 0;
}

.table td {
  vertical-align: middle;
}

img.ui-datepicker-trigger {
  cursor: pointer;
}
.fa-minus-circle {
  color: red;
}

.fa-minus-circle,
.fa-pencil {
  width: 25px;
  line-height: 25px;
  cursor: pointer;
}

.fa-minus-circle:hover,
.fa-pencil:hover {
  color: #2081ff;
}
.alert {
  display: none;
  border: 1px solid rgb(222, 226, 230);
  border-top: none;
  border-radius: 0;
  margin-top: 0;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.alert p {
  margin: 0;
}
